[Unit]
Description=Doorbot for my apartment
Requires=network.target

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec=10

Environment="PORT=80"
ExecStart=./home/pi/doorbot

[Install]
WantedBy=multi-user.target
