[Unit]
Description=Doorbot for my apartment
Requires=network.target

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec=5

Environment="PORT=80"
ExecStart=/home/door/doorbot

[Install]
WantedBy=multi-user.target
